{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row mt-5">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cat Sitting Site</h5>
        <p class="card-text">Welcome to our cat sitting service! Book appointments, manage your bookings, and explore our providers.</p>
        <a href="/petsitters" class="btn btn-primary">Explore</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nail Tech Site</h5>
        <p class="card-text">Welcome to our nail tech service! Book appointments, manage your bookings, and explore our providers. lol</p>
        <a href="/nailvana" class="btn btn-primary">Explore</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}